---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold">Move to China Now</h1>
  </main>
</Layout>
